$colors: (
  dark: #212121,
  gray: #313131,
  white: #fff,
  black: #000,
  sand: #f3f0ea,
  light: #ded0bf,
  glow: #e0c691,
  glow-light: #ead6ae
);

:root {
  @each $name, $code in $colors {
    --color-#{$name}: #{$code};
  }
}
