:root {
  --body-color: #433422;
  --bg: #f1e7d0;
  --dark-bg: #111;
  --code-bg: #222;
  --bg-transparent: rgba(241, 231, 208, 0.88);
  --bg-secondary: #eae0c9;
  --bg-teritary: #eadec2;
  --border-color: #ded0bf;
  --border-color-darker: #ccbca9;
  --glow: 2px 2px 15px 0 #ccbca9;
  --primary-color: #00a672;
}
