@import "src/assets/scss/variables";

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  background-color: var(--surface-1);

  // TODO: adjust theming options
  @media (prefers-color-scheme: light) {
    body {
      background: white;
      color: black;
    }
  }

  @media (prefers-color-scheme: dark) {
    body {
      background: black;
      color: white;
    }
  }
}